
<div class="row">
    <div class="col-md-3 col-md-offset-3" >
        <h2>Persistance</h2>
        <div>
            <label>Communes : </label><span id="nb-lignes-commune-persistance"></span>
        </div>
        <div>
            <label>Voies : </label><span id="nb-lignes-voie-persistance"></span>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Reporting</h2>
        <div>
            <label>Communes : </label><span id="nb-lignes-commune-reporting"></span>
        </div>
        <div>
            <label>Voies : </label><span id="nb-lignes-voie-reporting"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <h2>Ecritures</h2>
            <div class="action">
                Insérer <input id="nb-insert-communes" type="number" /> élément(s) voie <button class="button" id="insert-communes">dans les deux bases</button>
            </div>
            <div class="action">
                Insérer <input id="nb-insert-persistance" type="number" /> élément(s) voie <button class="button" id="insert-persistance">en persistance</button>
            </div>
            <div class="action">
                Insérer <input id="nb-insert-reporting" type="number" /> élément(s) voie <button class="button" id="insert-reporting">en reporting</button>
            </div>
            <div class="action">
                Insérer <input id="nb-insert-cohabitation" type="number" /> élément(s) voie <button class="button" id="insert-cohabitation">en cohabitation</button>
            </div>
            <div class="action">
                Supprimer le contenu <button class="button" id="delete-bases">des deux bases</button>
            </div>
        </div>
        <div>
            <h2>Lectures</h2>
            <div class="action">
                Exécuter une requête <button class="button" id="requete-persistance">en persistance</button>
            </div>
            <div class="action">
                Exécuter une requête <button class="button" id="requete-reporting">en reporting</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Console</h2>
        <div class="console">

        </div>
    </div>
</div>
